.header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
  height: 76px;
  background-image: url("pics/pepper.svg");
  background-repeat: no-repeat;
  transition: top .4s ease-in-out;
  color: white;
}

.nav-link
{
  color: #000000;
  color: white;
}

.nav-link dropdown-toggle{
  color: #000000;
}


.button
{
  color: black;
}

.nav-link:hover
{
  color: greenyellow;
}

.nav-link:visited{
  color: black;
}

.dropdown-item{
  color: gray;
}

.dropdown-item:hover{
  color: greenyellow;
}

.breadcrumb-item{
  font-size: 15px;
}

.footer-link
{
  color: black
}
.footer-link:hover{
  color: greenyellow;
}

.contact-link
{
  font-size: 16px;
  color: black;
}
.contact-link:hover{
  color: greenyellow;
}

.space { margin:0; padding:0; height:100px; }

.pgre{
  color: gray;
}

.table_pic
{
  width: 200px;
  height: 200px;
}

.table{
  border: 1px solid #eee;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 20px;
}
.table th {
  font-weight: bold;
  padding: 5px;
  background: #efefef;
  border: 1px solid #dddddd;
}
.table td{
  padding: 5px 10px;
  border: 1px solid #eee;
  text-align: left;
}
.table tbody tr:nth-child(odd){
  background: #fff;
}
.table tbody tr:nth-child(even){
  background: #F7F7F7;
}
